#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [1]:
import pandas as pd
import numpy as np

# Seu código aqui
tempTerraDict = {
    '1900': -0.08,
    '1920': -0.27,
    '1940': 0.12,
    '1960': -0.03,
    '1980': 0.26,
    '2000': 0.40,
    '2020': 1.02
}
tempTerraSerie  =  pd.Series(tempTerraDict)
tempTerraSerie

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [2]:

# seu código aqui
pd.DataFrame({'Anos': tempTerraSerie})

      Anos
1900 -0.08
1920 -0.27
1940  0.12
1960 -0.03
1980  0.26
2000  0.40
2020  1.02

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [3]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# seu código aqui
dic_temperaturasSeries = pd.Series(dic_temperaturas)
dic_temperaturasSeries

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [22]:
arr = np.random.normal(100, 10, (20,3))

# seu código aqui
data_arr = pd.DataFrame(arr)
data_arr

             0           1           2
0   122.046598  100.431875   82.589312
1    95.992634  107.801676  103.156429
2    76.974145   86.232272  100.414465
3   107.134970  110.110370   97.844041
4   103.176048   81.978459  102.270639
5    89.898391  113.394412   95.399761
6   105.702453   87.945392   98.601546
7    96.971339   99.801059   95.699281
8    92.237647   93.129470  111.147843
9   102.250929  104.203029   89.404006
10   95.452213   99.339292   88.632336
11   80.184901   99.309225  102.526653
12   99.759021  110.259248   95.248691
13   99.644589  102.676724  106.825876
14   92.924546  102.496338  101.381412
15  100.404790   91.723349   87.925200
16   98.349907  117.025724   99.267984
17  112.545722  104.603134  106.545128
18   99.263784  108.923507   97.844356
19   88.958786   99.107720   96.294879

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [27]:
#seu código aqui
lin_nomes = ["1","2","3","4","5","6","7","8","9","10","11","12","13","14","15","16","17","18","19","20"]
col_nomes = ["x1", "x2", "x3"]
data_arr = pd.DataFrame(arr, index=lin_nomes, columns=col_nomes)
data_arr

            x1          x2          x3
1   122.046598  100.431875   82.589312
2    95.992634  107.801676  103.156429
3    76.974145   86.232272  100.414465
4   107.134970  110.110370   97.844041
5   103.176048   81.978459  102.270639
6    89.898391  113.394412   95.399761
7   105.702453   87.945392   98.601546
8    96.971339   99.801059   95.699281
9    92.237647   93.129470  111.147843
10  102.250929  104.203029   89.404006
11   95.452213   99.339292   88.632336
12   80.184901   99.309225  102.526653
13   99.759021  110.259248   95.248691
14   99.644589  102.676724  106.825876
15   92.924546  102.496338  101.381412
16  100.404790   91.723349   87.925200
17   98.349907  117.025724   99.267984
18  112.545722  104.603134  106.545128
19   99.263784  108.923507   97.844356
20   88.958786   99.107720   96.294879

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [29]:
# seu código aqui
data_arr['Media'] = (data_arr['x1'] + data_arr['x2'] +data_arr['x3'])/3
data_arr

            x1          x2          x3       Media
1   122.046598  100.431875   82.589312  101.689262
2    95.992634  107.801676  103.156429  102.316913
3    76.974145   86.232272  100.414465   87.873627
4   107.134970  110.110370   97.844041  105.029794
5   103.176048   81.978459  102.270639   95.808382
6    89.898391  113.394412   95.399761   99.564188
7   105.702453   87.945392   98.601546   97.416464
8    96.971339   99.801059   95.699281   97.490560
9    92.237647   93.129470  111.147843   98.838320
10  102.250929  104.203029   89.404006   98.619321
11   95.452213   99.339292   88.632336   94.474614
12   80.184901   99.309225  102.526653   94.006926
13   99.759021  110.259248   95.248691  101.755653
14   99.644589  102.676724  106.825876  103.049063
15   92.924546  102.496338  101.381412   98.934099
16  100.404790   91.723349   87.925200   93.351113
17   98.349907  117.025724   99.267984  104.881205
18  112.545722  104.603134  106.545128  107.897995
19   99.263784  108.923507   97.844356  102.010549
20   88.958786   99.107720   96.294879   94.787128

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [30]:
# seu código aqui
data_arr['log_med'] = np.log(data_arr['Media'])
data_arr

            x1          x2          x3       Media   log_med
1   122.046598  100.431875   82.589312  101.689262  4.621922
2    95.992634  107.801676  103.156429  102.316913  4.628075
3    76.974145   86.232272  100.414465   87.873627  4.475900
4   107.134970  110.110370   97.844041  105.029794  4.654244
5   103.176048   81.978459  102.270639   95.808382  4.562350
6    89.898391  113.394412   95.399761   99.564188  4.600803
7   105.702453   87.945392   98.601546   97.416464  4.578995
8    96.971339   99.801059   95.699281   97.490560  4.579756
9    92.237647   93.129470  111.147843   98.838320  4.593485
10  102.250929  104.203029   89.404006   98.619321  4.591267
11   95.452213   99.339292   88.632336   94.474614  4.548331
12   80.184901   99.309225  102.526653   94.006926  4.543368
13   99.759021  110.259248   95.248691  101.755653  4.622574
14   99.644589  102.676724  106.825876  103.049063  4.635205
15   92.924546  102.496338  101.381412   98.934099  4.594454
16  100.404790   91.723349   87.925200   93.351113  4.536368
17   98.349907  117.025724   99.267984  104.881205  4.652828
18  112.545722  104.603134  106.545128  107.897995  4.681186
19   99.263784  108.923507   97.844356  102.010549  4.625076
20   88.958786   99.107720   96.294879   94.787128  4.551634